
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  background-color: rgb(253, 221, 221);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  grid-gap: 15px;
}